* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: work-sans;
  width: 80%;  
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all-news{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.news-title{
  padding-bottom: 10px;
  border-bottom: 1px solid lightblue;
}

.news-desc{
  padding-top: 10px;
  line-height: 22px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news-author{
  margin-right: 10px;
  color: purple;
}

.news-published{
  margin-right: 10px;
}

.head-text{
  margin-top: 30px;
}

.news-source {
  margin-top: 30px;
  display: inline-block;
  color: rgb(122, 122, 122);
}